/vendor
!core/assets/vendor
/core/vendor
/modules/contrib
sites/*/files
sites/*/private
.DS_Store
.idea
.settings
.vscode
.project
info.php
import
db_dump/
.idea/**
.idea
*.swp
.vscode/**
sites/default/settings.local.php
.cache
*.env
