/vendor
!core/assets/vendor
/core/vendor
/modules/contrib
!sites/default/files/2017-05/pg33870-images.epub
sites/*/files
sites/*/private
sites/simpletest
.vagrant
/nbproject/private/
.DS_Store
nbproject
.idea
.settings
.vscode
.project
info.php
import
db_dump/
.idea/**
.idea
*.swp
.vscode/**
sites/default/settings.local.php
.cache
*.env
