/vendor
!core/assets/vendor
/core/vendor
/docroot/modules/contrib
docroot/sites/*/files
docroot/sites/*/private
.DS_Store
.idea
.settings
.vscode
.project
info.php
import
db_dump/
.idea/**
.idea
*.swp
.vscode/**
docroot/sites/default/settings.local.php
.cache
/.csslintrc
/.eslintignore
/.eslintrc.json
/.ht.router.php
/.htaccess
docroot/autoload.php
/example.gitignore
docroot/index.php
docroot/robots.txt
docroot/update.php
docroot/web.config
docroot/core
docroot/README.txt
docroot/.csslintrc
docroot/.eslintignore
docroot/.eslintrc.json
docroot/.ht.router.php
docroot/.htaccess
docroot/INSTALL.txt

# Ignore override docker-compose files.
# Even those these are in git, we want to allow local changes to them without being pushed up to git.
docker-compose.override.yml
prisoner-content-hub-backend-local.env
