parameters:
    level: 1
    paths:
        - docroot/modules/custom
        - docroot/themes/custom
    ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
